@mixin position_boutons($position_boutons) {
    top: calc( $position_top_boutons + 25px);
    @each $position, $ecart in $position_boutons {
        &#{$position}{
        left : calc( $position_left_boutons + 49px + $ecart_boutons * $ecart );
        }
    }
}
@mixin position_traits($position_boutons) {
    top: $position_top_boutons;
    @each $position, $ecart in $position_boutons {
        &#{$position}{
        left : calc( $position_left_boutons + $ecart_boutons * $ecart );
        }
    }
}
@mixin position_text($position_texts) {
    @each $position, $ecart in $position_texts {
        &#{$position}{
        top : calc($position_top_boutons + map-get($position_top_text, $position));       
        left : calc( $position_left_boutons + $ecart );
        }
    }
}
@mixin position_help($positions_help) {
    @each $position, $pixel in $positions_help {
        &#{$position}{
        top : map-get($positions_helptop, $position);
        left : map-get($positions_help, $position);
        }
    }
}
@mixin media($device) {
    @media screen and ( max-device-width: map-get($breakpoints, $device) ) {
        @content;
    }
}
@mixin bordures {
    border-radius: 20px;
	border: 2px solid $primary_color;
	box-shadow: 3px 3px 3px $primary_color;
}
@mixin bordures_mobile {
    border-radius: 20px;
	border: 6px solid $primary_color;
	box-shadow: 0px 0px 0px $primary_color;
}
@mixin text_size($size) {
    color: $text_color;
    text-align: justify;
    font-size: $size;
    @include media(mobile){
        font-size: $font_size_mobile;
    }
}
@mixin block_portrait($size) {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    width: $size;
}
@mixin text_formation($size) {
    font-family: $font_formation, sans-serif;
    text-align: center;
    font-size: $size;
    @include media(mobile) {
        font-size: $size*2.5;
    }
    
}
@mixin link($size) {
    display: block;
    position: relative;
    margin-left: 80px;
    top: -10px;
    width: $size;
    height: auto;
    @include media(mobile){
        width: 100%;
        left: 50%;
    }
    
}
@mixin raquette($margin,$delay) {
    display: block;
    left:0;
    width: 69px;
    height: auto;
    margin-top: $margin;
    animation: raquettepc 2s $delay infinite alternate-reverse;
    @include media(mobile){
    animation: raquettemobile 2s $delay infinite alternate-reverse;
    width: 30%;
    margin-top: $margin * 2;
    }
}