$primary_color: #E3C880;
$secondary_color: black;
$selection_color: red;
$highlight_color: yellow;
$text_color: #efe4b0;

$font_menu: 'segoe-ui-semibold-regular';
$font_Angus: 'Comic Sans MS';
$font_formation: 'Segoe UI Black';
$font_size_mobile: 50px;

/* paramétre de la console des boutons */
/* ecart entre les boutons */ $ecart_boutons: 250px; 
/* position du premier bouton */ $position_left_boutons: 800px;
/* hauteur des boutons */ $position_top_boutons: 80px;
$position_boutons: (--position1: 0, --position2: 1, --position3: 2, --position4: 3);

/* position des textes autour des boutons */
$position_top_text: (--position1: -19px, --position2: 22px, --position3: 122px, --position4: 52px, --position5: -19px, --position6: 22px, --position7: 122px, --position8: 88px, --position9: -19px, --position10: 22px, --position11: 122px, --position12: 88px, --position13: -19px, --position14: 57px, --position15: 122px, --position16: 88px);
$position_texts: (--position1: 80px, --position2: 162px, --position3: 66px, --position4: -18px, --position5: calc( $ecart_boutons + 58px), --position6: calc($ecart_boutons + 159px), --position7: calc($ecart_boutons + 59px), --position8: calc($ecart_boutons + 3px), --position9: calc($ecart_boutons * 2 + 46px), --position10: calc($ecart_boutons * 2 + 159px), --position11: calc($ecart_boutons * 2 + 55px), --position12: calc($ecart_boutons * 2 - 20px), --position13: calc($ecart_boutons * 3 + 66px), --position14: calc($ecart_boutons * 3 + 167px), --position15: calc($ecart_boutons * 3 + 40px), --position16: calc($ecart_boutons * 3 + 3px));

/* position des images d'aide */
$positions_helptop: (--position1: 0px, --position2: 60px, --position3: 385px );
$positions_help: (--position1: 230px, --position2: 310px, --position3: 1280px );

/* media queries Break points */
$breakpoints: ( moz: 1100px, mobile: 599px, tablette: 990px); 

