
body
{
	background: url("Image/Baffle.png") no-repeat top center fixed black;
	overflow:hidden;
	color: white;
	background-size: var(--m-v);

}
figure
{
	margin: 0px;
}
#paysage 
{
	position: absolute;
	top: 0px;
	left: -950px;
	opacity: 0;
	z-index: 1;
}
.block
{
	position: absolute;
	top: 0px;
	left: 50%; 
	-moz-transform:  scale(var(--zoom));
	zoom: var(--zoom);
}
#bouton1
{
	position: absolute;
	right:0px;
}

#bouton2
{
	position: absolute;
	left:150px;
}
#bouton3
{
	position: absolute;
	left:400px;
}
#bouton4
{
	position: absolute;
	left:650px;
}

#bouton1,#bouton2,#bouton3,#bouton4
{

	z-index: 2;
	top: 125px;
}


#boutonPower
{
	opacity: 0.6;
	position: absolute;
	top: 149px;
	right: 760px;
	z-index: 2;

}
#halo1
{
	position: absolute;
	right:0px;
}
#halo2
{
	position: absolute;
	left:150px;
}
#halo3
{
	position: absolute;
	left:400px;
}
#halo4
{
	position: absolute;
	left:650px;
}
	
#halo1,#halo2,#halo3,#halo4
{
	opacity: 0;
	top:125px;
	z-index: 1;
	
}
#haloPower
{
	opacity: 0;
	position: absolute;
	top:136px;
	right:746px;
	z-index: 1;
}
#angusPower
{
	position: absolute;
	right: 280px;
	opacity: 0;
	z-index:1;
}
#angusBouton1
{
	position: absolute;
	top: 80px;
	right: 110px;
	opacity: 0;
	z-index:1;
}
#angusBouton2
{
	position: absolute;
	top: 80px;
	right: 110px;
	opacity: 0;
	z-index:1;
}	
#angus_help
{
	position: absolute;
	width:150px;
	top: 795px;
	right: 560px;
	z-index: 3;
}
#haloAngus
{
	position: absolute;
	opacity: 0;
	top: 800px;
	right: 560px;
	width:150px;
	z-index: 1;
}

audio {
	display: none;
}

h1
{
	display: none;
}


a
{
	color: yellow;
	text-decoration: none;
}
a:hover
{
	color: green;
	text-decoration: underline;
}
a:visited 
{
	color: red;
}
#text
{
	display: inline-block;
	border-radius: 20px;
	border: 2px solid #E3C880;
	box-shadow: 3px 3px 3px #E3C880;
	width: 1200px;
	position: absolute;
	top:340px;
	right: -360px;
	overflow: hidden;
	height:410px;
	padding:15px;
	opacity: 0;
	word-wrap: break-word;
	
}

#doc
{
	display: inline-block;
	border-radius: 20px;
	border: 2px solid #E3C880;
	box-shadow: 3px 3px 3px #E3C880;
	position:absolute;
	left: 373px;
	top: 340px;
	overflow: hidden;
	width: 460px;
	height:410px;
	padding:15px;
	opacity: 0;
}
footer
{
	display: flex;
	justify-content: space-between;
	border-radius: 20px;
	border: 2px solid #E3C880;
	box-shadow: 3px 3px 3px #E3C880;
	position:absolute;
	left: -717px;
	top: 800px;
	overflow: auto;
	width: 1317px;
	height: 77px;
	padding-left: 160px;
	padding-right: 100px;
	padding-top: 3px;
	z-index: 2;
}

.angusText
{ 
	font-family: "Comic Sans MS",serif;
	text-align: justify;
	color: yellow;
}

figcaption
{
	font-size: 8;
	text-align: center;
	color: #E3C880;
}

#bienvenue
{
	position: relative;
	left: 12%;
}
#angusguitare,#introD
{
	position: relative;
	height: 400px;
	left: 10%;
	padding-bottom: 30px;
	padding-top: 20px;
}
h1,h2,h3
{
		color: #E3C880;
}
.angusChantier
{
	position: relative;
	left: 20%;
	height: 80%;
	padding-bottom: 30px;
}
.titreChantier
{
	text-align: center;
	color: #E3C880;
	font-size: 40px;
}
@media all and (max-width: 1800px )
{
	:root { --m-v: 1800px}
	:root { --zoom: 0.947}

}
@media all and (max-width: 1700px )
{
	:root { --m-v: 1700px}
	:root { --zoom: 0.895}

}
@media all and (max-width: 1600px )
{
	:root { --m-v: 1600px}
	:root { --zoom: 0.842}

}
@media all and (max-width: 1500px )
{
	:root { --m-v: 1500px}
	:root { --zoom: 0.789}

}
@media all and (max-width: 1400px )
{
	:root { --m-v: 1400px}
	:root { --zoom: 0.737}

}
@media all and (max-width: 1300px )
{
	:root { --m-v: 1300px}
	:root { --zoom: 0.684}

}
@media all and (max-width: 1200px )
{
	:root { --m-v: 1200px}
	:root { --zoom: 0.631}

}
@media all and (max-width: 1100px )
{
	:root { --m-v: 1100px}
	:root { --zoom: 0.579}

}
@media all and (max-width: 1000px )
{
	:root { --m-v: 1000px}
	:root { --zoom: 0.526}

}
@media all and (max-width: 800px )
{
	:root { --m-v: 800px}
	:root { --zoom: 0.421}

}
@media all and (max-device-width: 480px )
{	
#paysage
	{
		opacity: 1;
		z-index: 3;
	}
}

.ie9 a, a:hover, a:visited
{
	color: transparent;
}

.ie9 .angusText,.iconeMail, .iconeFacebook, .iconeLinkedin, .iconeTwitter

{
	float: left;
	margin-right: 100px;
}