
body
{
	background: url("Image/Baffle.png") no-repeat top center fixed black;
	overflow:hidden;
	color: white;

}
#block
{
	position: absolute;
	top: 0px;
	left: 50%; 
}
#bouton1
{
	position: absolute;
	right:0px;
}

#bouton2
{
	position: absolute;
	left:150px;
}
#bouton3
{
	position: absolute;
	left:400px;
}
#bouton4
{
	position: absolute;
	left:650px;
}

#bouton1,#bouton2,#bouton3,#bouton4
{
	width: 100px;
	height: 100px;
	z-index: 2;
	top: 125px;
}


#boutonPower
{
	opacity: 0.6;
	position: absolute;
	top: 149px;
	right: 760px;
	z-index: 2;

}
#halo1
{
	position: absolute;
	right:0px;
}
#halo2
{
	position: absolute;
	left:150px;
}
#halo3
{
	position: absolute;
	left:400px;
}
#halo4
{
	position: absolute;
	left:650px;
}
	
#halo1,#halo2,#halo3,#halo4
{
	opacity: 0;
	top:125px;
	z-index: 1;
	
}
#haloPower
{
	opacity: 0;
	position: absolute;
	top:136px;
	right:746px;
	z-index: 1;
}
#angusPower
{
	position: absolute;
	right: 280px;
	opacity: 0;
	z-index:1;
}
#angusBouton1
{
	position: absolute;
	top: 80px;
	right: 110px;
	opacity: 0;
	z-index:1;
}
#angusBouton2
{
	position: absolute;
	top: 80px;
	right: 110px;
	opacity: 0;
	z-index:1;
}	
#angus_help
{
	position: absolute;
	width:150px;
	top: 795px;
	right: 560px;
	z-index: 2;
}
#haloAngus
{
	position: absolute;
	opacity: 0;
	top: 800px;
	right: 560px;
	width:150px;
	z-index: 1;
}

audio {
	display: none;
}

h1
{
	display: none;
}


a
{
	color: red;
	text-decoration: none;
}
a:hover
{
	color: green;
	text-decoration: underline;
}
a:visited 
{
	color: red;
}
#text
{
	display: inline-block;
	border-radius: 20px;
	border: 2px solid #E3C880;
	box-shadow: 3px 3px 3px #E3C880;
	width: 1200px;
	position: absolute;
	top:340px;
	right: -360px;
	overflow: hidden;
	height:410px;
	padding:15px;
	opacity: 0;
	
}

#doc
{
	display: inline-block;
	border-radius: 20px;
	border: 2px solid #E3C880;
	box-shadow: 3px 3px 3px #E3C880;
	position:absolute;
	left: 373px;
	top: 340px;
	overflow: hidden;
	width: 460px;
	height:410px;
	padding:15px;
	opacity: 0;
}
footer
{
	display: inline-block;
	border-radius: 20px;
	border: 2px solid #E3C880;
	box-shadow: 3px 3px 3px #E3C880;
	position:absolute;
	left: -717px;
	top: 800px;
	overflow: auto;
	width: 1417px;
	height:75px;
	padding-left: 160px;
	padding-top: 5px;
}

#angusText
{ 
	font-family: "Comic Sans MS",serif;
	text-align: justify;
	color: yellow;
}


#angusText
{
	position: absolute;
	top: 3px;
	right: 1100px;
}
#iconeTwitter
{
	position: absolute;
	top: 0px;
	right: 450px;
}
#iconeLinkedin
{
	position: absolute;
	top: 0px;
	right: 300px;
}
#iconeFacebook
{
	position: absolute;
	top: 0px;
	right: 150px;
}
#iconeMail
{
	position: absolute;
	top: 0px;
	right: 600px;
}

figcaption
{
	font-size: 8;
	text-align: center;
	color: #E3C880;
}

#bienvenue
{
	position: relative;
	left: 12%;
}
#angusguitare,#introD
{
	position: relative;
	height: 400px;
	padding-bottom: 30px;
	padding-top: 20px;
}
h1,h2,h3
{
		color: #E3C880;
}
.angusChantier
{
	position: relative;
	left: 20%;
	height: 80%;
	padding-bottom: 30px;
}
.titreChantier
{
	text-align: center;
	color: #E3C880;
	font-size: 40px;
}
@media all and (max-device-height: 480px) 
{
	body
	{
		width: 1900px;
		height: 1000px;
	}
	#block
	{
		left: 97.5%;
		zoom: 100%;
	}
}