.doc {
	display: inline-block;
    @include bordures;
    margin-bottom: 10px;
	overflow: hidden;
	width: 460px;
	height:410px;
	padding:15px;
	opacity: 0;
    @include media(mobile){
        width: 100%;
        opacity: 1;
        margin: 20px;
        @include bordures_mobile;
        overflow: auto;
        height: 30%;
    }
    &__titre {
        padding-top: 330px;
        font-size: 15px;
        @include media(mobile) {
            padding-top: 2250px;
            font-size: $font_size_mobile;
        }
    }
    &__final {
        padding-top: 760px;
        text-align: center;
        scroll-behavior: smooth;
        @include media(mobile){
            font-size: $font_size_mobile;
        }
    }
    &__fin {
        text-align: center;
        margin-left: 115px;
        @include media(mobile) {
            margin-left: 33%;     
        }
    }
    &__text {
        &--S {
            @include text_size(12px);
        }
        &--M {
            @include text_size(14px);    
        }
        &--center {
            text-align: center;
        }
    }
    &__certificats {
        figcaption {
            text-align: left;
            font-size: 14px;
        }
    }
    &__image {
        position: relative;
        height: 400px;
        left: 10%;
        padding-bottom: 30px;
        padding-top: 350px; 
        @include media(mobile){
            display: block;
            width: 45%;
            height: auto;
            margin: auto;
            left: 0%;
            padding-top: 2200px;
        }
        &__student {
            left: 0;
            width: 100%;
            height: auto;
            margin-top: 30px;
            @include media(mobile){
                width: 75%;
            }
        } 
        &__link {         
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 350px;
            a {
                padding-bottom: 20px;
            }
            @include media(mobile){
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding-top: 2250px;
                a {
                    width: 45%;
                }
                figcaption {
                    font-size: $font_size_mobile;
                }
            }

        }   
        &--hm11d {
            padding-top: 340px;
            left: 12%;
            @include media(mobile){
                left: 5%;
                display: inline;
                padding-top: 2800px;           
            }
        }
        &--hm11d1 {
            @extend %mobile_image_resize;
        }
        &--hm11d2 {
            @extend %mobile_image_resize;
        }
        &--hm12d {
            display: block;
            left:0;
        }
        &--hm12d1 {
            @include raquette(0px,0s);
            }
        &--hm12d2 {
            @include raquette(350px,2s);
            }
        &--hm12d3 {
            display: block;
            left:0;
            width: 20px;
            height: auto;
            animation: ballepc 2s infinite alternate-reverse;
            @include media(mobile){
            width: 8%;
            animation: ballemobile 2s infinite alternate-reverse;
            }
        }
        &--hm14d {
            figcaption {
                margin-left: 50px;
                margin-bottom: 50px;
            }
            @include media(mobile) {
                padding-top: 2300px;
            }
        }
        &--hm14d1 {
            left: 0;
            height: auto;
            margin-left: 100px;
            @include media(mobile){
                width: 100%;
                margin-left: 0;
            }
        }
        &--hm14d2 {
            left: 0;
            height: auto;
            margin-left: 50px;
            @include media(mobile){
                width: 100%;
                margin-left: 0;
            }
        }
        &--hm21d {
            left: 20%;
            Width: 60%;
            height: auto;
            animation: rotation 2s infinite;
            @include media(mobile){
                left: 0;
                width: 100%;
            }
            
        }
        &--hm24d {
            width: 100%;
            height: auto;
            padding-top: 380px;
            left: 0;
            @include media(mobile){
            width: 100%;
            padding-top: 2000px;
            }
        }
        &--hm31d {
            padding-left: 50px;
        }
        &--hm33d {
            width: 80%;
            margin-left: 50px;
            @include media(mobile){
                width: 100%;
                margin-left: 0;
            }
        }
        &--hm34d {
            left: 0%;
            width: 100%;
            @include media(mobile){
            width: 70%;
            }
        }
        &--hm41d {
            left: 1%;
            transform-origin: 50% 70%;
            animation: cartoon 6s infinite alternate-reverse;
            @include media(mobile){
            width: 60%;
            transform-origin: 50% 85%;
            }
        }
        &--hm42d {
            width: 50%;
            height: auto;
            margin-left: 115px;
            padding-bottom: 0;
            @include media(mobile){
                width: 30%;
                float: left;
            }   
        }
        &--link317 {
            @include link(317px);
            }
        &--link290 {
            @include link(290px);
        }
        &--link2 {
            left: 0;
            height: auto;
            width: 220px;
            margin-left: 100px;
            @include media(mobile){
                width: 100%;
                margin-left: 0;
            }
        }
        &--link4{
            left: 0;
            width: 200px;
            height: auto;
            margin-right: 20px;
            @include media(mobile){
                width: 100%;
            }
        }
        &--link6{
            left: 0;
            height: auto;
            width: 130px;
            margin-right: 20px;
        }

    }

}
.angusguitare {
    @include media(mobile){
    padding-top: 150px;
    }
}

