.doc {
	display: inline-block;
    @include bordures;
    margin-bottom: 10px;
	overflow: hidden;
	width: 460px;
	height:410px;
	padding:15px;
	opacity: 0;
    @include media(mobile){
        width: 100%;
        opacity: 1;
        margin: 20px;
        @include bordures_mobile;
        overflow: auto;
        height: 30%;
    }
    &__titre {
        padding-top: 330px;
        font-size: 15px;
        @include media(mobile) {
            padding-top: 2500px;
            font-size: $font_size_mobile;
        }
    }
    &__text {
        text-align: justify;
        color: $text_color;
        @include text_size(12px);
    }
    &__image {
        position: relative;
        height: 400px;
        left: 10%;
        padding-bottom: 30px;
        padding-top: 350px; 
        @include media(mobile){
            display: block;
            width: 45%;
            height: auto;
            margin: auto;
            left: 0%;
            padding-top: 2200px;
        }    
        &--hm11d {
            padding-top: 340px;
            left: 12%;
            @include media(mobile){
                left: 5%;
                display: inline;
                padding-top: 2800px;           
            }
        }
        &--hm11d1 {
            @extend %mobile_image_resize;
        }
        &--hm11d2 {
            @extend %mobile_image_resize;
        }
        &--hm12d {
            left: 1%;
            @include media(mobile){
            width: 60%;
            }
        }
        &--hm41d {
            left: 1%;
            @include media(mobile){
            width: 60%;
            }
        }
    }

}
.angusguitare {
    @include media(mobile){
    padding-top: 150px;
    }
}