.footer {
display: flex;
justify-content: space-between;
@include bordures;
overflow: auto;
width: 80%;
height: 77px;
margin-left: 242px;
padding-left: 20px;
padding-right: 100px;
padding-top: 5px;
z-index: 2;
@include media(mobile){
    display: none;
}
    &__angusText { 
    position: relative;
    left: -230px;
    font-family: $font_Angus,serif;
    text-align: justify;
    color: $highlight_color;
    }
    &__angusHelp {
    width: auto;
    height: 70px;
    left: 0%;
    z-index: 3;
    }
    &__haloAngus {
    position: absolute;
    opacity: 0;
    z-index:2;
    top: 780px;
    left: 260px;
    width:150px;
    }
}
