.nav {
@include media(mobile){
    display: inline-block;
    width: 100%;
    height: 400px;
    top: 0%;
    left : 0%;
    padding: 10px;
    padding-top: 100px;
    margin: 20px;
    margin-left: 80px;
    color: $secondary_color;
}
    &__angusExpress {
	position: absolute;
	right: 520px;
	top: 690px;
	opacity: 0;
    z-index: 3;
    @include media(mobile){
        position: relative;
        float: left;
        opacity: 0;     
        left: 0%;
        width: 16%;
        height: auto;
        top: 0%;
        margin-right: 30px;
        }
    }
    &__angusExpress2 {
        position: absolute;
        right: 520px;
        top: 690px;
        opacity: 0;
        z-index: 1;
            &--anim {
            transform: rotateY(5turn);
            transform-style: preserve-3d;
            transform-origin: center center 0px;
            transition: transform 3s cubic-bezier(.05,.47,.34,.99);
            }
        @include media(mobile){
            position: absolute;
            top: 130px;
            left: 100px;
            opacity: 1;     
            width: 16%;
            height: auto;    
        }
    }
    &__angusExpressMenu {
 	display: none;
 	position: absolute;
	background-color: $secondary_color;
	border: solid $primary_color 2px;
	top: 330px;
	right: 520px;
	z-index: 3;
	border-radius: 10px;
    @include media(mobile){
        top: 440px;
        border-radius: 40px;
        border-width: 6px;
        width: 50%;
        height: auto;
        left: 20px;
    }
        input {
	    border-radius: 8px;
        color: $secondary_color;
        background-color: $primary_color;
        border: solid $secondary_color 2px;
        padding: 2px;
        font-family: $font_menu, sans-serif;
        font-size: 13px;
        font-weight: bold;
        display: block;
        width: 100%;
        @include media(mobile){
            width: 90%;
            font-size: 100px;
            border-radius: 40px;
            margin: 5%;
        }
            &:hover {
	        text-shadow: 0px 0px 4px $selection_color;
            }
        }
    }
    &__titre1 {
        display: none;
        @include media(mobile){
            display: inline-block;
            font-size: 130px;
            height: 140px;
            margin: 0px;
            margin-left: 25%;
            font-style: italic;
        }
    }

    &__titre2 {
        display: none;
        @include media(mobile){
            display: inline-block;
            font-size: 65px;
            height: 70px;
            margin: 0px;
            margin-left: 30px;
        }
    }   
    &__titre3 {
        display: none;
        @include media(mobile){
            display: inline-block;
            clear: both;
            margin: 20px;
            margin-left: 50px;
            font-size: 75px;
        }
    }            
}
.show
{
    display: block;
}
